.row
        .col-sm-10.col-sm-offset-1
          .col-md-4.col-sm-6
            .card-container
              .card
                .front
                  .cover
                    img(src='https://www.clipartsgram.com/image/129556292-kyz84k3.jpg')
                  .user
                    img.img-circle(src="#{user.meta.iPicture}")
                  .content
                    .main
                      h3.name= user.iName
                      p.profession= user.meta.homeBase
                      p.text-center= user.meta.iBio
                    .footer
                      i.fa.fa-mail-forward
                      |  See Details
                // end front panel
                .back
                  .header
                    h5.motto= user.iName
                  .content
                    .main
                      h4.text-center= user.iDisplayName
                      p.text-center= user.meta.iBio
                      .stats-container
                        .stats
                          h4= user.meta.iFollowedBy
                          p
                            | Followers
                        .stats
                          h4= user.meta.iFollows
                          p
                            | Following
                  .footer
                    .social-links.text-center
                      a.facebook(href='http://deepak646.blogspot.in/')
                        i.fa.fa-facebook.fa-fw
                      a.google(href='http://deepak646.blogspot.in/')
                        i.fa.fa-google-plus.fa-fw
                      a.twitter(href='http://deepak646.blogspot.in/')
                        i.fa.fa-twitter.fa-fw
                // end back panel
              // end card
            // end card-container
      .space-200