extends layout

block content
  .row
    .col.s12
      #statistics.card-panel.transparent.z-depth-0
        .row
          .col.s12
            h2.center Network Statistics
        .row
          .col.s12.m4.center
            h3.red-text.accent-3= reach
            hr
            h5.grey-text Combined Reach
          .col.s12.m4.center
            h3.red-text.accent-3= registeredAccounts
            hr
            h5.grey-text Number of Couples
          .col.s12.m4.center
            h3.red-text.accent-3= mediaCount
            hr
            h5.grey-text Media Count
  .row.hide-on-small-and-down
    .col.s12
      a(href="https://nomadcouples.slack.com/", target="_blank")
        #slack.card-panel.transparent.z-depth-5
          h3.center.white-text Chat with other Nomad Couples on Slack!
          .row
            .col.s12
              h5.center.white-text sign up here!
  .row
    .col.s12
      .card-panel.transparent.z-depth-0
        h2.center Couple Statistics
        .row
          .col.s12.m4.center
            h3.green-text.accent-3 1st
            hr
            h5.grey-text Biggest Reach
          .col.s12.m4.center
            h3.green-text.accent-3 3rd
            hr
            h5.grey-text Engaged Followers
          .col.s12.m4.center
            h3.green-text.accent-3 15th
            hr
            h5.grey-text Total Posts
        .row
          .col.s12
            h3.center Badges
        .row
          .col.s4.m2.center
            i.large.material-icons.red-text grade
          .col.s4.m2.center
            i.large.material-icons.orange-text snooze
          .col.s4.m2.center
            i.large.material-icons.yellow-text track_changes
          .col.s4.m2.center
            i.large.material-icons.green-text.text-lighten-5 hd
          .col.s4.m2.center
            i.large.material-icons.blue-text.text-lighten-5 room
          .col.s4.m2.center
            i.large.material-icons.purple-text.text-lighten-5 loyalty

    hr
  .row
      .col.s12
        .card-panel.transparent.z-depth-0
          .card-content
            h3.center.card-title
              | Our Featured Couple
          .card-image.center
            img(src='#{user.meta.picture}')
          .card-content.center
            h5.card-title
              |#{ user.userName }
            p name: #{ user.fullName }
            .chip
              | Home Base: #{ user.meta.homeBase }
            .chip
              | Current Location: #{ user.meta.currentLocation }
            p= user.meta.bio
            p following: #{user.meta.follows} | followers: #{user.meta.followedBy}
            a(href='#{user.meta.website}', target="_blank") Website 
            span  | 
            a(href='https://www.instagram.com/#{user.iName}', target="_blank") Instagram 
            span  | 
            a(href='/welcome') Edit Profile
  .row
    .col.s12.m4
      img(src="http://placehold.it/250x250", width="100%", height="250px")
    .col.s12.m4
      img(src="http://placehold.it/250x250", width="100%", height="250px")
    .col.s12.m4
      img(src="http://placehold.it/250x250", width="100%", height="250px")