extends layout

block content
  // Dropdown Structure
  ul#dropdown1.dropdown-content
    li
      a(href='#!') Europe
    li
      a(href='#!') Asia
    li
      a(href='#!') N. America
    li
      a(href='#!') S. America
    li
      a(href='#!') Australia
    li.divider
    li
      a(href='#!') World Wide
  nav.transparent.z-depth-0
    .nav-wrapper
      a.brand-logo(href='#') Filter Couples
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.dropdown-button(href='#!', data-activates='dropdown1')
            | Find By Location
            i.material-icons.right arrow_drop_down
  .row
    .col.s12
      p Combined Reach: #{ reach }
  .row
    .col.s12.m8
      .card.horizontal.transparent
        .card-image
          img(src='#{user.meta.picture}')
        .card-stacked
          .card-content
            span.card-title.activator.grey-text.text-darken-4
              | #{user.userName}
            .chip
              | #{ user.fullName }
            .chip
              | #{ user.meta.homeBase }
            .chip
              | #{ user.meta.currentLocation }
            p= user.meta.bio
            br
            p following: #{user.meta.follows} | followers: #{user.meta.followedBy}
          .card-action
            a(href='#{user.meta.website}', target="_blank") Website
            a(href='https://www.instagram.com/#{user.iName}', target="_blank") Instagram
            a(href='/welcome') Edit Profile